/*
 * SpotifyWebAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.spotify.api.controllers;

import com.spotify.api.ApiHelper;
import com.spotify.api.Server;
import com.spotify.api.exceptions.ApiException;
import com.spotify.api.exceptions.OAuthProviderException;
import com.spotify.api.http.request.HttpMethod;
import com.spotify.api.http.response.ApiResponse;
import com.spotify.api.models.OAuthToken;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ArraySerializationFormat;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.Map;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class OAuthAuthorizationController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public OAuthAuthorizationController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Create a new OAuth 2 token.
     * @param  authorization  Required parameter: Authorization header in Basic auth format
     * @param  code  Required parameter: Authorization Code
     * @param  redirectUri  Required parameter: Redirect Uri
     * @param    fieldParameters    Additional optional form parameters are supported by this endpoint
     * @return    Returns the OAuthToken wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<OAuthToken> requestToken(
            final String authorization,
            final String code,
            final String redirectUri,
            final Map<String, Object> fieldParameters) throws ApiException, IOException {
        return prepareRequestTokenRequest(authorization, code, redirectUri,
                fieldParameters).execute();
    }

    /**
     * Create a new OAuth 2 token.
     * @param  authorization  Required parameter: Authorization header in Basic auth format
     * @param  code  Required parameter: Authorization Code
     * @param  redirectUri  Required parameter: Redirect Uri
     * @param    fieldParameters    Additional optional form parameters are supported by this endpoint
     * @return    Returns the OAuthToken wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<OAuthToken>> requestTokenAsync(
            final String authorization,
            final String code,
            final String redirectUri,
            final Map<String, Object> fieldParameters) {
        try { 
            return prepareRequestTokenRequest(authorization, code, redirectUri,
            fieldParameters).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for requestToken.
     */
    private ApiCall<ApiResponse<OAuthToken>, ApiException> prepareRequestTokenRequest(
            final String authorization,
            final String code,
            final String redirectUri,
            final Map<String, Object> fieldParameters) throws IOException {
        return new ApiCall.Builder<ApiResponse<OAuthToken>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.AUTH_SERVER.value())
                        .path("/api/token")
                        .formParam(param -> param.key("grant_type")
                                .value("authorization_code").isRequired(false))
                        .formParam(param -> param.key("code")
                                .value(code))
                        .formParam(param -> param.key("redirect_uri")
                                .value(redirectUri))
                        .formParam(fieldParameters)
                        .headerParam(param -> param.key("Authorization")
                                .value(authorization).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .arraySerializationFormat(ArraySerializationFormat.CSV)
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, OAuthToken.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("OAuth 2 provider returned an error.",
                                (reason, context) -> new OAuthProviderException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("OAuth 2 provider says client authentication failed.",
                                (reason, context) -> new OAuthProviderException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Obtain a new access token using a refresh token.
     * @param  authorization  Required parameter: Authorization header in Basic auth format
     * @param  refreshToken  Required parameter: Refresh token
     * @param  scope  Optional parameter: Requested scopes as a space-delimited list.
     * @param    fieldParameters    Additional optional form parameters are supported by this endpoint
     * @return    Returns the OAuthToken wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<OAuthToken> refreshToken(
            final String authorization,
            final String refreshToken,
            final String scope,
            final Map<String, Object> fieldParameters) throws ApiException, IOException {
        return prepareRefreshTokenRequest(authorization, refreshToken, scope,
                fieldParameters).execute();
    }

    /**
     * Obtain a new access token using a refresh token.
     * @param  authorization  Required parameter: Authorization header in Basic auth format
     * @param  refreshToken  Required parameter: Refresh token
     * @param  scope  Optional parameter: Requested scopes as a space-delimited list.
     * @param    fieldParameters    Additional optional form parameters are supported by this endpoint
     * @return    Returns the OAuthToken wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<OAuthToken>> refreshTokenAsync(
            final String authorization,
            final String refreshToken,
            final String scope,
            final Map<String, Object> fieldParameters) {
        try { 
            return prepareRefreshTokenRequest(authorization, refreshToken, scope,
            fieldParameters).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for refreshToken.
     */
    private ApiCall<ApiResponse<OAuthToken>, ApiException> prepareRefreshTokenRequest(
            final String authorization,
            final String refreshToken,
            final String scope,
            final Map<String, Object> fieldParameters) throws IOException {
        return new ApiCall.Builder<ApiResponse<OAuthToken>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.AUTH_SERVER.value())
                        .path("/api/token")
                        .formParam(param -> param.key("grant_type")
                                .value("refresh_token").isRequired(false))
                        .formParam(param -> param.key("refresh_token")
                                .value(refreshToken))
                        .formParam(param -> param.key("scope")
                                .value(scope).isRequired(false))
                        .formParam(fieldParameters)
                        .headerParam(param -> param.key("Authorization")
                                .value(authorization).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .arraySerializationFormat(ArraySerializationFormat.CSV)
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, OAuthToken.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("OAuth 2 provider returned an error.",
                                (reason, context) -> new OAuthProviderException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("OAuth 2 provider says client authentication failed.",
                                (reason, context) -> new OAuthProviderException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}